<header class="header" [ngClass]="{'header--fixed': isFixed, 'header--normal': !isFixed, 'header--up': isScrollDirectionUp}">
  <div class="site-width">
    <div class="logo" scrollTo scrollTargetSelector="#home">
      <logo></logo>
      <h1>Blue Sphere Studios</h1>
    </div>
    <nav>
      <ul class="global-nav">
        <li class="nav-item" [ngClass]="{'selected': currentNav == 'home'}"><span><a scrollTo href="#home" class="gnav-link active">Home</a></span></li>
        <li class="nav-item" [ngClass]="{'selected': currentNav == 'work'}"><span><a scrollTo href="#work" class="gnav-link">Work</a></span></li>
        <li class="nav-item" [ngClass]="{'selected': currentNav == 'about'}"><span><a scrollTo href="#about" class="gnav-link mobile-hidden">About</a></span></li>
      </ul>
    </nav>
  </div>
</header>
