@import '../shared/scss/vars';
@import '../shared/scss/mixins';

:host {
  display: block;
}

.site-width {
  background: rgba($color-black, .8);
  margin-right: 0;
  padding: 20px 40px;

  @include tablet {
    width: 50%;
  }
}

h2 {
  color: $color-white;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in();
  }
}

p {
  position: relative;
  z-index: 2;
  color: $color-white;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in(.9s);
  }

  @include tablet {
    font-size: 18px;
  }

  a {
    color: $color-white;
  }
}

p.intro {
  color: $color-white;
  font-size: 22px;
  line-height: 1.2;

  @include tablet {
    font-size: 32px;
  }
}

@mixin staggered-in-view-transition {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      @include element-appear-resting;
      :host.in-view & {
        @include element-appear-in(#{$i * .2}s);
      }
    }
  }
}

p {
  @include staggered-in-view-transition;
}

// Stealth link

a[target="_blank"] {
  padding: 0;
  background: none;
  text-decoration: none;
}
