<div class="site-width">
  <h2>About</h2>
  <p class="intro">I've been in the business of building websites since 1998.</p>
  <p>In those years I have seen the web change and evolve, and I am proud to have been part of the early movement of web designers who championed web standards. During this time, I was heavily influenced by Dave Shea's <a href="http://www.csszengarden.com/">Zen Garden</a> experiment, Dan Cederholm's website, <a href="http://simplebits.com/">Simplebits</a>, and Jefferery Zeldman's <a href="https://www.amazon.com/Designing-Web-Standards-Jeffrey-Zeldman/dp/0321616952">Designing with Web Standards</a>. I got hooked on the possibilities with CSS and was part of the exciting transition from table layouts to CSS-based design with two different companies.</p>
  <p>I currently specialize in front-end development as part of Google Cloud. In my time with Google Cloud and previously Google Brand Studio, I have been part of many launches, including Google for Work, Gmail, Calendar, Inbox, and the new Google Earth.</p>
</div>
