@import '../shared/scss/vars';
@import '../shared/scss/mixins';

:host {
  display: block;
}

.site-width {
  background: rgba($color-black, .8);
  margin-right: 0;
  padding: 20px 40px;

  @include tablet {
    width: 50%;
  }
}

h2 {
  color: $color-white;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in();
  }
}

p {
  position: relative;
  z-index: 2;
  color: $color-white;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in(.9s);
  }

  @include tablet {
    font-size: 18px;
  }

  a {
    color: $color-white;
  }
}

p.intro {
  color: $color-white;
  font-size: 22px;
  line-height: 1.2;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in(.3s);
  }

  @include tablet {
    font-size: 32px;
  }
}
