@import '../shared/scss/vars';
@import '../shared/scss/mixins';

:host {
  display: block;
}

h1 {
  margin-bottom: 0;
  color: rgba($color-white, .8);
  font-weight: 300;
  font-size: 24px;

  @include tablet {
    font-size: 32px;
  }

  strong, span {
    white-space: nowrap;
  }
}

.strikethrough {
  text-decoration: line-through;
}
