<div class="site-width">
  <div class="avatar-frame">
    <picture class="avatar">
      <source srcset="/assets/images/tim-material-avatar-2-2x.webp" type="image/webp">
      <source srcset="/assets/images/tim-material-avatar-2-2x.jpg" type="image/jpeg">
      <img src="/assets/images/tim-material-avatar-2-2x.png" alt="Tim's avatar">
    </picture>
  </div>
  <h1 class="intro">Blue Sphere Studios is the portfolio of front end web developer, <strong>Tim Malabuyo</strong>,
  currently @Google, coding from <span class="strikethrough">London</span> the sunny Bay Area, California.</h1>
</div>
