.hero {
  background: $color-dark-gray url(/assets/bg-hero.jpg) no-repeat 50% 50% / cover;

  .site-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;

    @include desktop {
      height: 500px;
    }
  }
}

.hero__content {
  position: relative;
  box-sizing: border-box;
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  background-color: $color-white;

  @include desktop {
    margin-top: 0;
    padding: 30px 50px;
    width: 50%;
  }

  h1 {
    margin: 40px 0 10px;
    color: rgba($color-black, .6);
    font-weight: 100;
    font-size: 30px;
    line-height: 1;

    @include desktop {
      margin: 0 0 10px;
      font-size: 60px;
    }
  }

  h2 {
    color: $color-teal-accent;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.2;

    @include desktop {
      font-size: 44px;
    }
  }
}


.hero__image-frame {
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 0;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border: 2px solid $color-white;
  border-radius: 100px;

  @include desktop {
    top: 50%;
    right: -50px;
    margin-top: -50px;
    margin-left: auto;
  }

  img {
    width: 100%;
  }
}
