@import '../shared/scss/vars';
@import '../shared/scss/mixins';

:host {
  display: block;

  @include site-width;
}

.intro {
  margin-bottom: 40px;
}

.work-logo {
  display: block;
  margin: 20px auto 10px;
  width: auto;
  height: 40px;
  text-align: center;
}

.carousel-content {
  display: grid;

  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 4%;
  grid-template-rows: auto;
}

.recent-work {
  margin-bottom: 40px;
  margin-left: 30px;

  grid-column: 1;

  a.active {
    font-weight: 400;
  }
}

.carousel {
  position: relative;
  margin-bottom: 40px;

  grid-column: 2 span / 3 span;
}

.secondary-content--heading {
  grid-column: 1 / 1;
}

.secondary-content--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  grid-column: 2 span / 3 span;
}

.secondary-content__work {
  width: 47%;

  img {
    width: 100%;
  }
}
