@import '../shared/scss/vars';

:host {
  display: block;
}

.work-nav {
  display: flex;
  justify-content: center;
  margin: -56px 0 40px;
  list-style: none;

  a {
    margin: 0 5px;
    padding: 14px;
    border-radius: 3px;
    background: rgba(52, 109, 204, 0);
    text-decoration: none;
    transition: background .3s;
  }

  a:hover {
    background: rgba($color-gray, .4);
    transition: background .3s;
  }

  a.active,
  a.active:hover {
    background: rgba(52, 109, 204, 1);
    color: $color-white;
  }
}

.work-container {
  transition: height .3s;
}
