<div class="work-bundle-content">
  <svg  class="work-logo logo-google" id="logo-google" height="24" viewBox="0 0 74 24" width="74">
    <path d="M9.24 8.19v2.46h5.88c-.18 1.38-.64 2.39-1.34 3.1-.86.86-2.2 1.8-4.54 1.8-3.62 0-6.45-2.92-6.45-6.54s2.83-6.54 6.45-6.54c1.95 0 3.38.77 4.43 1.76L15.4 2.5C13.94 1.08 11.98 0 9.24 0 4.28 0 .11 4.04.11 9s4.17 9 9.13 9c2.68 0 4.7-.88 6.28-2.52 1.62-1.62 2.13-3.91 2.13-5.75 0-.57-.04-1.1-.13-1.54H9.24z" fill="#4285F4"></path>
    <path d="M25 6.19c-3.21 0-5.83 2.44-5.83 5.81 0 3.34 2.62 5.81 5.83 5.81s5.83-2.46 5.83-5.81c0-3.37-2.62-5.81-5.83-5.81zm0 9.33c-1.76 0-3.28-1.45-3.28-3.52 0-2.09 1.52-3.52 3.28-3.52s3.28 1.43 3.28 3.52c0 2.07-1.52 3.52-3.28 3.52z" fill="#EA4335"></path>
    <path d="M53.58 7.49h-.09c-.57-.68-1.67-1.3-3.06-1.3C47.53 6.19 45 8.72 45 12c0 3.26 2.53 5.81 5.43 5.81 1.39 0 2.49-.62 3.06-1.32h.09v.81c0 2.22-1.19 3.41-3.1 3.41-1.56 0-2.53-1.12-2.93-2.07l-2.22.92c.64 1.54 2.33 3.43 5.15 3.43 2.99 0 5.52-1.76 5.52-6.05V6.49h-2.42v1zm-2.93 8.03c-1.76 0-3.1-1.5-3.1-3.52 0-2.05 1.34-3.52 3.1-3.52 1.74 0 3.1 1.5 3.1 3.54.01 2.03-1.36 3.5-3.1 3.5z" fill="#4285F4"></path>
    <path d="M38 6.19c-3.21 0-5.83 2.44-5.83 5.81 0 3.34 2.62 5.81 5.83 5.81s5.83-2.46 5.83-5.81c0-3.37-2.62-5.81-5.83-5.81zm0 9.33c-1.76 0-3.28-1.45-3.28-3.52 0-2.09 1.52-3.52 3.28-3.52s3.28 1.43 3.28 3.52c0 2.07-1.52 3.52-3.28 3.52z" fill="#FBBC05"></path>
    <path d="M58 .24h2.51v17.57H58z" fill="#34A853"></path>
    <path d="M68.26 15.52c-1.3 0-2.22-.59-2.82-1.76l7.77-3.21-.26-.66c-.48-1.3-1.96-3.7-4.97-3.7-2.99 0-5.48 2.35-5.48 5.81 0 3.26 2.46 5.81 5.76 5.81 2.66 0 4.2-1.63 4.84-2.57l-1.98-1.32c-.66.96-1.56 1.6-2.86 1.6zm-.18-7.15c1.03 0 1.91.53 2.2 1.28l-5.25 2.17c0-2.44 1.73-3.45 3.05-3.45z" fill="#EA4335"></path>
  </svg>
  <p class="intro">I have been fortunate enough to have been part of three different teams in two countries during my time with Google.  As part of the Cloud and Brand Studio teams, I have worked on many different marketing websites and initiatives across the company and many different products.</p>
  <div class="gallery">
    <div class="images">
      <img class="content-height" (load)="onImageLoad()" src="/assets/images/google-earth-national-treasures.jpg">
      <div (click)="cycleImage($event)" class="carousel" #carousel>
        <img [ngClass]="{'current': currentImage==1}" class="carousel-image" data-position="1" src="/assets/images/google-earth-national-treasures.jpg">
        <img [ngClass]="{'current': currentImage==2}" class="carousel-image" data-position="2" src="/assets/images/google-earth-mission-blue-01.jpg">
        <img [ngClass]="{'current': currentImage==3}" class="carousel-image" data-position="3" src="/assets/images/google-earth-mission-blue-02.jpg">
        <img [ngClass]="{'current': currentImage==4}" class="carousel-image" data-position="4" src="/assets/images/google-qibla-finder-01.jpg">
        <img [ngClass]="{'current': currentImage==5}" class="carousel-image" data-position="5" src="/assets/images/google-qibla-finder-02.jpg">
        <img [ngClass]="{'current': currentImage==6}" class="carousel-image" data-position="6" src="/assets/images/google-petra-01.jpg">
        <img [ngClass]="{'current': currentImage==7}" class="carousel-image" data-position="7" src="/assets/images/google-petra-02.jpg">
        <img [ngClass]="{'current': currentImage==8}" class="carousel-image" data-position="8" src="/assets/images/google-inbox.jpg">
      </div>
      <div class="image-nav">
        <img (click)="setCurrentImage(1)" [ngClass]="{'current': currentImage==1}" class="carousel-thumb" data-position="1" src="/assets/images/google-earth-national-treasures.jpg">
        <img (click)="setCurrentImage(2)" [ngClass]="{'current': currentImage==2}" class="carousel-thumb" data-position="2" src="/assets/images/google-earth-mission-blue-01.jpg">
        <img (click)="setCurrentImage(3)" [ngClass]="{'current': currentImage==3}" class="carousel-thumb" data-position="3" src="/assets/images/google-earth-mission-blue-02.jpg">
        <img (click)="setCurrentImage(4)" [ngClass]="{'current': currentImage==4}" class="carousel-thumb" data-position="4" src="/assets/images/google-qibla-finder-01.jpg">
        <img (click)="setCurrentImage(5)" [ngClass]="{'current': currentImage==5}" class="carousel-thumb" data-position="5" src="/assets/images/google-qibla-finder-02.jpg">
        <img (click)="setCurrentImage(6)" [ngClass]="{'current': currentImage==6}" class="carousel-thumb" data-position="6" src="/assets/images/google-petra-01.jpg">
        <img (click)="setCurrentImage(7)" [ngClass]="{'current': currentImage==7}" class="carousel-thumb" data-position="7" src="/assets/images/google-petra-02.jpg">
        <img (click)="setCurrentImage(8)" [ngClass]="{'current': currentImage==8}" class="carousel-thumb" data-position="8" src="/assets/images/google-inbox.jpg">
      </div>
    </div>
    <div class="info">
      <div *ngIf="currentImage==1||currentImage==2||currentImage==3" class="info-content">
        <h3>Google Earth</h3>
        <p>I was involved in building the front end platform for the new Google Earth's key content feature, Voyager, launched on Earth Day, 2017.</p>
        <h4>Links</h4>
        <ul>
          <li><a href="https://earth.google.com/web" target="_blank">Google Earth</a></li>
          <li><a href="https://www.blog.google/products/earth/welcome-home-new-google-earth/">Launch announcement</a></li>
        </ul>
      </div>
      <div *ngIf="currentImage==4||currentImage==5" class="info-content">
        <h3>Qibla Finder</h3>
        <p>Qibla Finder uses augmented reality to point Muslims in the direction of Mecca during the month of Ramadan, 2017. Built with Angular, Typescript, and Three.js.</p>
        <h4>Links</h4>
        <ul>
          <li><a href="https://qiblafinder.withgoogle.com/" target="_blank">Qibla Finder</a></li>
          <li><a href="https://www.blog.google/products/maps/finding-qibla-augmented-reality/">Launch announcement</a></li>
        </ul>
      </div>
      <div *ngIf="currentImage==6||currentImage==7" class="info-content">
        <h3>Petra Treks and Petra VR</h3>
        <p>I worked as part of a three-person developer team which built a beautiful Maps Streetview Treks site to showcase the famous Petra in Jordan.</p>
        <h4>Links</h4>
        <ul>
          <li><a href="https://g.co/Petra/" target="_blank">Petra Maps Streetview Trek</a></li>
          <li><a href="https://g.co/PetraVR/" target="_blank">Petra VR</a></li>
          <li><a href="https://www.blog.google/products/maps/jordan-street-view/">Petra Trek launch announcement</a></li>
          <li><a href="https://www.blog.google/products/maps/virtual-trek-through-petra-google-cardboard/">Petra VR launch announcement</a></li>
        </ul>
      </div>
      <div *ngIf="currentImage==8" class="info-content">
        <h3>Google Inbox</h3>
        <p>I was fortunate to have been involved in the Google Inbox product launch in 2014.</p>
        <h4>Links</h4>
        <ul>
          <li><a href="https://www.google.com/inbox/" target="_blank">Google Inbox</a></li>
          <li><a href="https://googleblog.blogspot.com/2014/10/an-inbox-that-works-for-you.html">Launch announcement</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
