@import '../shared/scss/vars';
@import '../shared/scss/mixins';
@import '../shared/scss/base';

:host {
  display: block;
}

section {
  @include section-padding;

  h2 {
    margin: 0 0 25px 0;
    text-transform: uppercase;
  }
}

// Top level sections

.hero {
  padding: 90px 20px 20px;
  background-color: #20242D;
  text-align: center;

  @include tablet {
    padding: 130px 60px 60px;
  }
}

.section-about {
  position: relative;
  padding-bottom: 340px;
  background: $color-gray;

  @include tablet {
    padding-bottom: 140px;
  }
}

.section-contact {
  background-color: $color-dark-gray;
  color: $color-white;
}
