@import '../shared/scss/vars';
@import '../shared/scss/mixins';

:host {
  display: block;
}

.content {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
  grid-template-rows: auto;
  grid-row-gap: 10%;
}

.titles {
  grid-column: 1 / span 3;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in();
  }

  @include tablet {
    grid-column: 1;
  }

  h2 {
    margin-bottom: 5px;
  }
}

.tags {
  list-style-type: none;
  grid-column: 1 / span 3;

  @include element-appear-resting;
  :host.in-view & {
    @include element-appear-in(.3s);
  }

  @include tablet {
    grid-column: 2 / span 3;
  }
}

li {
  display: inline-block;
  padding: 3px 8px;
  margin: 3px;
  background: rgba($color-black, .3);
  color: $color-white;
}
