@import '../shared/scss/vars';

:host {
  display: block;
}

footer {
  padding: 20px 0 10px;
  background-color: #223c6e;

  p {
    color: rgba($color-white, .6);
    font-size: 14px;
    line-height: 1;
  }
}
